.App {
  text-align: center;
  background-image: url("./images/friends.jpg");
  background-size: contain;
  min-height: 100vh;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin: 0 1rem;
}

.login {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-flow: column wrap;
  width: 22rem;
  height: 23rem;
  margin: 10% auto;
  background-color: black;
  padding: 3rem;
  color: white;
}

.login button {
  margin: 2rem 0;
  background-color: #f9ff13
}

span {
  color: #d00304;
  font-size: 0.75rem;
}

.add-friend {
  display: flex;
  flex-direction: column;
  width: 23rem;
  margin: 0 auto;
  border: 1px dashed gray;
  padding: 2rem;
  background-color: #f9ff13;
}

.add-friend input {
  margin: 0.25rem;
}

.add-friend button {
  margin: 0.25rem;
}

.friends-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 5rem;
}

.card-div {
  width: 30rem;
  margin: 2rem auto;
}

.card {
  background-color: black !important;
  color: white;
}

.friend-name {
  font-family: "Permanent Marker", cursive;
  color: white;
  background-color: black !important;
  font-size: 1.25rem;
}

.delete-btn {
  background-color: #d00304 !important;
}
